# Godot 4+ specific ignores
.godot/*
!.godot/imported/
!.godot/global_script_class_cache.cfg
!.godot/uid_cache.bin
.godot_user/
*.translation
*.gdignore
*.import/
export_presets.cfg
*.mono/

# macOS
.DS_Store

# Windows
Thumbs.db
